### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [362]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [363]:
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [364]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [365]:
Total_players = purchase_data["SN"].unique()
len(Total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [366]:
Unique_items = purchase_data["Item ID"].unique()
Item_numbers = len(Unique_items)
Item_numbers

183

In [367]:
Total_revenue = purchase_data["Price"].sum()
Total_revenue

2379.77

In [368]:
Total_purchases = purchase_data["Purchase ID"].count()
Total_purchases

780

In [369]:
Avg_price = round(purchase_data["Price"].mean(), 2)
Avg_price

3.05

In [370]:
Purchasing_analysis = pd.DataFrame({"Number of Unique Items": Item_numbers, "Average Price": [Avg_price], 
                                    "Number of Purchases": [Total_purchases], "Total Revenue": [Total_revenue]})

Purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [371]:
Purchasing_analysis["Average Price"] = Purchasing_analysis["Average Price"].map(
    "${:,.2f}".format)
Purchasing_analysis["Total Revenue"] = Purchasing_analysis["Total Revenue"].map(
    "${:,.2f}".format)

Purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [372]:
gender_group_df = purchase_data.groupby('Gender')["SN"].unique()
gender_group_df

Gender
Female                   [Lisassa64, Reunasu60, Reulae52, Assosia88, Ph...
Male                     [Lisim78, Lisovynya38, Ithergue48, Chamassasya...
Other / Non-Disclosed    [Chanosian48, Siarithria38, Haerithp41, Sundim...
Name: SN, dtype: object

In [373]:
male_count = len(gender_group_df[1])
female_count = len(gender_group_df[0])
other_count = len(gender_group_df[2])

gender_total = male_count + female_count + other_count

male_percentage = round(male_count/gender_total*100, 2)
female_percentage = round(female_count/gender_total*100, 2)
other_percentage = round(other_count/gender_total*100, 2)

In [374]:
players_total = pd.DataFrame({"Gender": ["Male"] + ["Female"] + ["Other/Non-Disclosed"], 
                              "Total Count": (male_count, female_count, other_count), 
                              "Percentage of Players": (male_percentage, female_percentage, other_percentage)})

players_total

                Gender  Total Count  Percentage of Players
0                 Male          484                  84.03
1               Female           81                  14.06
2  Other/Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [375]:
femalePlayers1 = purchase_data.loc[purchase_data["Gender"] == "Female"]["Item ID"].count()
malePlayers1 = purchase_data.loc[purchase_data["Gender"] == "Male"]["Item ID"].count()
otherPlayers1 = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]["Item ID"].count()

femalePlayers2 = round(purchase_data.loc[purchase_data["Gender"] == "Female"]["Price"].mean(), 2)
malePlayers2 = round(purchase_data.loc[purchase_data["Gender"] == "Male"]["Price"].mean(), 2)
otherPlayers2 = round(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].mean(), 2)

femalePlayers3 = round(femalePlayers1*femalePlayers2, 2)
malePlayers3 = round(malePlayers1*malePlayers2, 2)
otherPlayers3 = round(otherPlayers1*otherPlayers2, 2)

femalePlayers4 = round(femalePlayers3/female_count, 2)
malePlayers4 = round(malePlayers3/male_count, 2)
otherPlayers4 = round(otherPlayers3/other_count, 2)

In [376]:
purchasing_analysis2 = pd.DataFrame({"Gender": ["Male"] + ["Female"] + ["Other/Non-Disclosed"], 
                              "Purchase Count": (femalePlayers1, malePlayers1, otherPlayers1), 
                              "Average Purchase Price": (femalePlayers2, malePlayers2, otherPlayers2),
                              "Total Purchase Value": (femalePlayers3, malePlayers3, otherPlayers3), 
                              "Average Total Purchase per Person": (femalePlayers4, malePlayers4, otherPlayers4)})

purchasing_analysis2

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Male,113,3.20,361.60,4.46
1,Female,652,3.02,1969.04,4.07
2,Other/Non-Disclosed,15,3.35,50.25,4.57

In [377]:
purchasing_analysis2["Average Purchase Price"] = purchasing_analysis2["Average Purchase Price"].map(
    "${:,.2f}".format)
purchasing_analysis2["Total Purchase Value"] = purchasing_analysis2["Total Purchase Value"].map(
    "${:,.2f}".format)
purchasing_analysis2["Average Total Purchase per Person"] = purchasing_analysis2["Average Total Purchase per Person"].map(
    "${:,.2f}".format)
purchasing_analysis2

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Male,113,$3.20,$361.60,$4.46
1,Female,652,$3.02,"$1,969.04",$4.07
2,Other/Non-Disclosed,15,$3.35,$50.25,$4.57

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [378]:
print(purchase_data["Age"].min())
print(purchase_data["Age"].max())

7
45

In [379]:
bins = [-1, 9, 14, 19, 24, 29, 34, 39, 49]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [380]:
age_group_count = purchase_data.groupby("Age group")["Item ID"]

age_group_count.count()

Age group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [381]:
age_group_percentage = round(purchase_data["Age group"].value_counts()/780*100, 2)

age_group_percentage

20-24    46.79
15-19    17.44
25-29    12.95
30-34     9.36
35-39     5.26
10-14     3.59
<10       2.95
40+       1.67
Name: Age group, dtype: float64

In [382]:
age_group2 = pd.DataFrame({"Total Count":age_group_count, "Percentage of Players":age_group_percentage})

age_group2

ValueError: setting an array element with a sequence

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [383]:
age_group_average = purchase_data.groupby("Age group")["Price"].mean()
age_group_average.round(2)

Age group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [384]:
age_group_total = purchase_data.groupby("Age group")["Price"].sum()
age_group_total

Age group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [385]:
purchasing_analysis3 = pd.DataFrame({"Purchase Count": age_group_count, 
                              "Average Purchase Price": age_group_average,
                              "Total Purchase Value": age_group_total})

purchasing_analysis3

ValueError: setting an array element with a sequence

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [386]:
players_purchase_count = purchase_data.groupby("SN").count()["Price"].rename("Purchase Count")
players_average_price = purchase_data.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players_total = purchase_data.groupby("SN").sum()["Price"].rename("Total Purchase Value")

total_user_data = pd.DataFrame({"Purchase Count":players_purchase_count,
                                "Average Purchase Price": players_average_price,
                                "Total Purchase Value": players_total})
total_user_data.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [387]:
top_five_spenders = total_user_data.sort_values("Total Purchase Value", ascending=False)

top_five_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [388]:
items_purchase_count = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# Convert to DataFrame

items_purchased = pd.DataFrame({"Purchase Count":items_purchase_count,
                                "Item Price":items_average_price,
                                "Total Purchase Value":items_value_total,})

items_purchased.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

In [389]:
most_popular_items = items_purchased.sort_values("Purchase Count", ascending=False)

most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [390]:
most_profitable_items = items_purchased.sort_values("Total Purchase Value", ascending=False)
most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80